.root {
	display: flex;
	align-items: center;
	padding: 12px 20px;
	color: white;
	background: #e43f77;
	border-radius: 8px;
	transition: background 0.3s;
	
	&:hover {
		background: transparentize(white, 0.9);
	}
}

.icon {
	height: 22px;
	margin-right: 8px;
}

.message {
	white-space: nowrap;
	font-size: 16px;
	font-weight: 900;
}
