@use '../spinner' as *;

.nameLabel {
	font-weight: 900;
	color: white;
}

.nameLabelSpinner {
	@include spinner($size: 16px, $thickness: 3px);
	
	margin: 0 8px -2px 0;
}

.nameLabelIcon {
	height: 20px;
	margin: 0 8px -4px 0;
}

.validName {
	color: #c3e88d;
}

.invalidName {
	color: #ff6464;
}

.nameInput {
	width: 100%;
	margin: 8px 0 20px;
	padding: 12px 16px;
	font-size: 16px;
	color: white;
	background: transparentize(white, 0.9);
	border-radius: 8px;
	
	&::placeholder {
		color: transparentize(white, 0.5);
	}
}

.button {
	display: flex;
	align-items: center;
	padding: 12px 20px;
	color: white;
	background: transparentize(white, 0.9);
	border-radius: 8px;
	transition: background 0.3s, opacity 0.3s;
	
	&:not(.loading):disabled {
		opacity: 0.5;
	}
	
	&:not(:disabled):hover {
		background: #e43f77;
	}
}

.buttonIcon {
	height: 22px;
	margin-right: 8px;
}

.buttonMessage {
	white-space: nowrap;
	font-size: 16px;
	font-weight: 900;
}
